#ID_Ext_Container
{
	position:absolute;
	width: 234px;
	height: 220px;
	left:575px;
	top:100px;
	border: solid blue 0.5px;
}
#ID_Inner_Top_Container,#ID_Inner_Mid_Container,#ID_Inner_Bottom_Container{
	border: solid blue 0.5px;
	margin-left:2px;
	margin-right:2px;
}

#ID_Inner_Top_Container,#ID_Inner_Bottom_Container
{
	height: 25px;
	margin-top: 3px;
	line-height: 25px;
}
#ID_Inner_Mid_Container{
	height: 150px;
	margin-bottom: 3px;
	margin-top: 3px;
}
#ID_Year_Opt
{
	background: red;
	width: 100px;
	margin-left: 0px;
	margin-top: 0px;
}

#ID_Month_Opt{
	width: 50px;
}

span{
	background: rgb(222,236,248);
	margin-right: 0px;
	box-sizing: border-box;
	margin:0;
	padding:0;
	width: 20px;
}

#ID_Prev_Year{
	display: inline-block;	
	height: 18px;
	margin-top: 2px;
}

#ID_Prev_Year img{
	height: 16px;
	//background: red;
}
