#ID_Ext_Container
{
	position:absolute;
	width: 234px;
	height: 225px;
	left:575px;
	top:100px;
	border: solid black 0.5px;
}
#ID_Inner_Top_Container,#ID_Inner_Mid_Container,#ID_Inner_Bottom_Container{
	border: solid blue 0.5px;
	margin-left:2px;
	margin-right:2px;

}
#ID_Inner_Top_Container{
	padding-top: 3px;
	padding-bottom: 2px;	
}
#ID_Inner_Top_Container,#ID_Inner_Bottom_Container
{
	height: 25px;
	margin-top: 3px;
}
#ID_Inner_Mid_Container{
	height: 155px;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 5px;
}
#ID_Year_Opt
{
	width: 80px;
	margin-left: 0px;
	margin-top: 0px;
	height: 23px;
}

#ID_Month_Opt{
	width: 50px;
	height: 23px;
}

span{
	background: rgb(222,236,248);
	margin-right: 0px;
	box-sizing: border-box;
	margin:0;
	padding:0;
	width: 20px;
}
button{
	height:23px;
	border:0;
	outline: 0;
	cursor: pointer;
	vertical-align: bottom;
	display: inline-block;
	background-color: PowderBlue;
}
button:hover{
	background-color: LightGray  ;
}

button:active {
  transform: translateX(0.5px);
}
#ID_Prev_Year {
	margin-left: 9px;
	background-image: url("./icon/triangle_left.png");
	background-position: center;

}
#ID_Next_Year{
	background-image: url("./icon/triangle_right.png");
	background-position: center;
}

#ID_Prev_Month{
	background-image: url("./icon/triangle_left.png");
	background-position: center;
	margin-left: 9px;
}

#ID_Next_Month{
	background-image: url("./icon/triangle_right.png");
	background-position: center;
}


td,th{
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	padding-right: 13px;
	padding-top: 1px;
	text-align: right;
	cursor: pointer;
}

td:hover{
	background-color: blue;
}
